.main {
    background-color: azure;
}

.cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
    margin-bottom: 25px;
}

.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-decoration: underline;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.basic-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

.review {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;;
    font-size: 16px;
}

