.main {
    background-color: silver;
}

.favorites {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.favorites-list {
    padding-left: 10%;
}

.favorites-list a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: table;
    margin-bottom: 2%;
}

.favorites-list a:hover {
    color: blue;
    text-decoration: underline;
}

.reviews {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.reviews-list {
    padding-left: 10%;
}

.reviews-list a {
    text-decoration: none;
    color: black;
    font-size: large;
    display: table;
    margin-bottom: 2%;
}

.reviews-list a:hover {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 800px) {
    
    * {
        text-align: center;
    }

    .favorites {
        padding-left: 0;
    }

    .favorites-list {
        padding-left: 0;
    }

    .favorites-list a {
        display: grid;
        margin-bottom: 3%;
    }

    .reviews {
        padding-left: 0;
    }

    .reviews-list {
        padding-left: 0;
    }

    .reviews-list a {
        display: grid;
        margin-bottom: 3%;
    }

}


